<h1>ADMIN PAGE</h1>
<div class='row'>
  <div class='col-lg-4'>
    <h2>Orders</h2>
    {{ outlet orders }}
  </div>
  <div class='col-lg-8'>
    <h2>Products</h2>
    {{ outlet products }}
  </div>
</div>