<h1>ADMIN PAGE</h1>
<div class='container'>
  <div class='col-lg-8'>
    {{#link-to 'orders' class='btn btn-info'}}Manage Orders{{/link-to}}
  </div>
  <div class='col-lg-8'>
    <span class='row'><h2>
      Products
      {{#link-to 'productNew' class='btn btn-primary'}}Add Product{{/link-to}}
    </h2></span>
    <table class='table table-hover'>
      <thead>
        <th>Name</th>
        <th>Price</th>
        <th>Edit</th>
        <th>Remove</th>
      </thead>
      <tbody>
      {{# each}}
        <tr>
          <td>
            <img {{ bind-attr src=avatar }}>
            {{#link-to 'product' this }}{{ name }}{{/link-to}}
          </td>
          <td>{{ format-currency price }} </td>
          <td><button {{#link-to 'productEdit' this }}Edit{{/link-to}}</td>
          <td><button {{ action 'deleteProduct' this }}>Delete</button></td>
        </tr>
      {{/each }}
      </tbody>
    </table>
  </div>

</div>