<div class='container'>
  <h1>Welcome Digital Store</h1>
  <p class='lead'>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  <hr>
  {{# link-to 'cart' '1' }}
  View your cart
  {{/link-to }}

  {{outlet}}
  {{ outlet modal }}

  <div class='text-muted'><small>Foot</small></div>
</div>
