<div class='container'>
  <div class='row'>
    <span class='col-md-11'>
      <h1>
        {{# link-to 'products' }}<img src='http://placekitten.com/40/40'> {{/link-to }}
        Welcome to the Digital Store
      </h1>
      </span>
    <div class='col-md-1'>
      {{# link-to 'cart' class='btn btn-primary cart-button'}}View your cart {{/link-to }}
    </div>
  </div>
  <hr>
  <div>
    {{outlet}}
    {{ outlet "modal" }}
  </div>
</div>
