<h1> This is your cart</h1>
{{ id }}<br>
these are items: {{ items }}
<div>
  <ul>
    {{# each items}}
    <li>
      {{ this.quantity }}
      {{ this.product.name }}
    </li>
    {{/ each}}
  </ul>
</div>
