THIS IS AN ORDER
<h1>Orders Index</h1>
<div class='row'>
  <div class='col-lg-2'>
    <table>
      <thead>
        <th>Customer</th>
        <th>Status</th>
      </thead>
      <tbody>
        {{#each}}
          <tr>
            <td>
              {{# link-to "order" this}}
              {{ customer_name }}
              {{/ link-to }}
            </td>
            <td>
              {{ status }}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
  <div class='col-lg-10'>
    {{ outlet }}
    {{ outlet sidebar }}

  </div>
</div>