<h1>Products Directory</h1>
<div class='row'>
  <div class='col-lg-2'>
    <h4>All Plants</h4>
    <ul>
      <li>Products go here</li>
    </ul>
  </div>
  <div class='col-lg-10'>
    Product View Goes Here
  </div>
</div>